.get-started-btn {
    color: rgb(15, 1, 1);
    border-radius: 4px;
    padding: 7px 30px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #ffc451;
    background: #ffbb38;
    font-family:   "sans-serif";
    text-align: center;
    text-decoration:none;
    direction: rtl;
    
    
  }
  
  .get-started-btn:hover {
    background: #ffbb38;
    color: #ffffff;
    text-decoration:none
  }
  
  @media (max-width: 992px) {
    .get-started-btn {
      padding: 7px 20px 8px 20px;
      margin-right: 15px;
    }
  }
  
  @media  (min-width : 600px) {
   body{
    width: 100%;
    height: 100%;
   }
  }
  
  *{
    font-family: "El Messiri", sans-serif;
  } 
  